<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="EyelessCode">
        <meta name="keywords" content="HTML, CSS, JS, POSTGRESQL">
        <meta name="decription"
            content="Página de acceso de credenciales">
        <link rel="shortcut icon" href="/img/icon/icon-login.ico"
            type="image/x-icon">
        <link rel="stylesheet" href="/css/credentials.css"> <!--? Ruta Test -->
        <title>Login | Panamá Sombreros</title>
    </head>
    <body class="body-client-credential">
        <main>
            <div class="contenedor client-login">
                <section>
                    <span class="imagenn">
                        <img src="/img/logo-sombrero.webp"
                            alt="sombrerito"> <!--? Ruta Test -->
                    </span>
                    <h3>Login</h3>
                    <form action="/login" method="post">
                        <div class="contenedor_login">
                            <div class="part nombre">
                                <label for="txtNombre">Usuario: </label>
                                <input type="text" name="nombre" id="txtNombre"
                                    placeholder="Nombre..." required>
                            </div>

                            <div class="part password">
                                <label for="txtPassword">Contraseña: </label>
                                <input type="password" name="password"
                                    id="txtPassword" placeholder="Contraseña..."
                                    required>
                            </div>

                            <div class="part registrarse">
                                <p>No tienes una cuenta? </p> <a
                                    href="#">Regístrate</a>
                            </div>

                            <div class="part boton">
                                <button type="submit">Acceder</button>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </main>
        <footer class="footer-client-credential">
            <div class="logo">
                <img src="/img/logo-sombrero.webp" alt="logo">
                <p>&copy; <span>Panamá Sombreros</span></p>
            </div>

            <div class="content_footer">
                <p>Aquí hacemos entregas de nuestro productos! Únete y echa un
                    vistazo!</p>
            </div>
        </footer>
    </body>
</html>
