<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="EyelessCode">
        <meta name="keywords" content="HTML, CSS, JS, POSTGRESQL">
        <meta name="decription"
            content="Página de la lista de productos para los Clientes">
        <link rel="shortcut icon" href="../../static/img/icon/producto-icon.ico"
            type="image/x-icon">
        <link rel="stylesheet" href="../../static/css/client/style.css"> <!--? Ruta Test -->
        <title>Listado de Productos | Cliente</title>
    </head>
    <body>
        <header class="contenedorHeader">
            <div class="hero-logo">
                <span class="imagenn">
                    <img src="../../static/img/logo-sombrero.webp"
                        alt="sombrerito"> <!--? Ruta Test -->
                </span>
                <h2 id="h2Titulo">Productos en Venta</h2>
            </div>

            <div class="content-user">
                <div class="barra-user">
                    <img src="../../static/img/perfil-logo.webp" alt="perfil">
                    <!-- <p>FernándezFernándezFernández 15</p> -->
                    <!--* lo de arriba es dinámico -->
                    <!--* Dinámico -->
                </div>

                <div class="log-out">
                    <!--? Ruta Test -->
                    <button onclick="window.location.replace('../client/login.html')">
                        <img src="../../static/img/log-out-icon.webp" alt="cerrar sesión">
                    </button>
                </div>
            </div>
        </header>

        <main class="contenedorListaProductos">

        </main>

        <footer>
            <div class="logo">
                <img src="../../static/img/logo-sombrero.webp" alt="logo">
                <p>&copy; <span>Panamá Sombreros</span></p>
            </div>

            <div class="content_footer">
                <p>Aquí hacemos entregas de nuestro productos! Únete y echa un
                    vistazo!</p>
            </div>
        </footer>
    </body>
</html>