<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="EyelessCode">
        <meta name="description"
            content="Dashboard, donde el Admin puede monitorear herramientas">
        <meta name="keywords" content="HTML, CSS, JS, POSTGRESQL">
        <link rel="shortcut icon" href="/img/icon/producto-icon.ico" type="image/x-icon"> <!--? Ruta Test -->
        <link rel="stylesheet" href="/css/admin/style.css"> <!--? Ruta Test -->
        <link rel="stylesheet" href="/css/admin/form.css"> <!--? Ruta Test -->
        <script defer src="/js/admin/form/util.js"></script> <!--? Ruta Test -->
        <title>Formulario Producto | Administración</title>
    </head>
    <body>
        <header class="contenedorHeader">
            <div class="hero-logo">
                <span class="imagenn">
                    <img src="/img/logo-sombrero.webp"
                            alt="sombrerito"> <!--? Ruta Test -->
                </span>
                <!--* din+amicooo t´tulo dinámico  -->
                <h2 id="h2Titulo">------ un ----- producto</h2>
            </div>

            <div class="content-user">
                <div class="barra-user">
                    <img src="/img/perfil-logo.webp" alt="perfil">
                    <!-- <p>FernándezFernándezFernández 15</p> -->
                    <!--* lo de arriba es dinámico -->
                    <!--* Dinámico -->
                </div>
    
                <div class="log-out">
                    <!--? Ruta Test -->
                    <button onclick="window.location.replace('http://localhost:1000/sombreroPanama/admin/login')">
                        <img src="/img/log-out-icon.webp" alt="cerrar sesión">
                    </button>
                </div>
            </div>
        </header>

        <aside>
            <div class="hero-menu">
                <h3>Panamá</h3><h3>Sombreros</h3>
            </div>

            <div class="menu-opciones">
                <ul class="contenedor-list">
                    <li><a href="http://localhost:1000/sombreroPanama/admin/dashboard">Inicio</a></li> <!--? ruta testt-->
                    <li><a href="http://localhost:1000/sombreroPanama/admin/productos">Gestión Productos</a></li> <!--? ruta testt-->
                    <li><a href="http://localhost:1000/sombreroPanama/admin/clientes">Gestión Clientes</a></li>
                    <li><a href="http://localhost:1000/sombreroPanama/admin/contenedores">Contenedores</a></li>
                    <li><a href="http://localhost:1000/sombreroPanama/admin/consultas">Consultas Admin</a></li>
                    <li><a href="http://localhost:1000/sombreroPanama/admin/detalleExportaciones">Detalles Exportación</a></li>
                </ul>
            </div>
        </aside>

        <main class="contenedorDashboard wrapper-form">
            <section class="wrapper" id="wrapperFormulario">
                <!--* dinámico  -->
            </section>
            <div id="popup" class="popup-nueva-consulta" display="none">
                <!--*  popoupdinámico -->
                <div class="contenedor-popup">
                    <h2>Agregue una nueva Categoría</h2>
                    <div class="part categoria">
                        <label for="txtCategoria">Categoría: </label>
                        <!--*  diámico -->
                        <input type="text" name="categoria" id="txtCategoria" maxlength="25" required placeholder="Categoría...">
                    </div>

                    <div class="part boton newCategory">
                        <!--* din+amicooo ttulo dinámico  -->
                        <button type="submit" id="btnAgregar">Agregar nuevo</button>
                        <button type="button" id="btnCancelar">Cancelar</button>
                        <!--? Ruta Test -->
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <div class="logo">
                <img src="/img/logo-sombrero.webp" alt="logo">
                <p>&copy; <span>Panamá Sombreros</span></p>
            </div>

            <div class="content_footer top-content">
                <p>Distribuímos la mejor gestión para los productos. Nosotros no fallamos.</p>
            </div>

            <div class="content_footer bottom-content">
                <p>Si hay algún problema técnico, contacte con <span>cristelMolineros@gmail.com</span>.</p>
            </div>
        </footer>
    </body>
</html>
