*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body .contenedorListaProductos{
    display: flex;
    flex-flow: column;
    overflow: hidden;
    overflow-y: auto;
}

.contenedorListaProductos .list-productos .item-producto{
    outline: 2px solid;
    padding: 10px;
    background-color: #f59e0b;
    /* cursor: pointer; */
    flex-grow: 1;
    flex-basis: 0;
    min-width: 13%;
    max-width: 220px;
    box-shadow: 7px 6px black;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    transition: all 0.1s ease-in;
}

.contenedorListaProductos .list-productos .item-producto:hover{
    box-shadow: 8px 9px black;
    background-color: #ffb639;

    >.info-producto{
    background-color: #f59e0b;
    }
}

.list-productos .item-producto .boton-accion{
    margin-top: 5px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.list-productos .item-producto .boton-accion a{
    text-decoration: none;
}

.list-productos .item-producto .boton-accion a button{
    color: black;
    font-weight: bolder;
    padding: 5px;
    background-color: lightblue;
    font-size: 0.7em;
    cursor: pointer;
    box-shadow: 4px 4px;
    border-style: none;
    outline: 2px solid black;
    transition: box-shadow 0.1s ease-in-out;
}

.list-productos .item-producto .boton-accion a button:hover{
    box-shadow: 6px 6px black;

}

.contenedorListaProductos .list-productos{
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    justify-content: center;
}

.list-productos .item-producto .info-producto{
    outline: 2px solid;
    text-align: center;
    color: black;
    background-color: #ffb639;
    font-weight: bolder;
    padding: 7.5px;
    width: 190px;
    max-width: 100%;
}

.list-productos .item-producto .info-producto .nombre-producto{
    font-size: 0.65em;
    margin-bottom: 7.5px;
}

.list-productos .item-producto div img{
    width: 190px;
    max-width: 100%;
    height: auto;
    outline: 2px solid;
}

.list-productos .item-producto .imagen-producto{
    display: flex;
    position: relative;
}