*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contenedorHeader .hero-logo span img{
    top: -20.5px;
    left: -1.5px;
}

body .contenedor-form-producto-venta{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

body .contenedor-form-producto-venta .form-venta-wrapper{
    background-color: #f59e0b;
    padding: 15px;
    box-shadow: 8px 8px black;
}

form .contenedor-form-generico div{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    margin: 5px 7.5px;
}

.contenedor-form-producto-venta .form-venta-wrapper h3{
    margin: 10px 0;
    font-size: 2em;
}

form .contenedor-form-generico div label{
    font-weight: bolder;
    margin: 3.5px 10px 3.5px 0;
}

/* form .contenedor-form-generico div:nth-child(1) label{
    font-size: 0.8em;
} */

form .contenedor-form-generico div input{
    padding: 7.5px;
    font-size: 0.75em;
    border-style: none;
    transition: all 0.1s ease-in-out;
    border-radius: 10px;
    text-align: center;
}

form .contenedor-form-generico div input::placeholder{
    color: gray;
}

form .contenedor-form-generico div input:focus{
    border-style: none;
    outline: 3px solid black;
    box-shadow: 6px 6px black;
}

form .contenedor-form-generico div select{
    padding: 7.5px;
    font-style: italic;
    border-radius: 10px;
    border-style: none;
    transition: outline,box-shadow 0.1s ease-in-out;
    /* outline: 2px solid black; */
    text-align: center;
}

form .contenedor-form-generico div select:focus{
    outline: 2px solid black;
    box-shadow: 6px 6px black;
}

.contenedor-form-generico .color .ejemploColor{
    border: 2px dashed;
    padding: 13.5px;
    border-radius: 15px;
    margin-left: 15px;
}

.contenedor-form-generico .boton{
    display: flex;
    justify-content: center;
}

.contenedor-form-generico .boton button{
    padding: 5px;
    border-radius: 10px;
    box-shadow: 4px 4.5px black;
    font-size: 0.65em;
    font-weight: bolder;
    cursor: pointer;
    margin: 7.5px;

    /* transform: ; */
    /* background-color: rgb(150, 150, 0); */
    color: black;
    border: 2px solid black;
    /* transition: all 0.3s ease-out; */
    transition: all 0.1s ease-in;
}

.contenedor-form-generico .boton button:hover{
    box-shadow: 5px 6.5px black;
}

.contenedor-form-generico .boton button:active{
    /* background: linear-gradient(to bottom,rgb(249, 59, 59),rgb(85, 85, 253)); */
    box-shadow: 2px 2px black;
}

.contenedor-form-generico .boton button:nth-child(1){
    background-color: darkgreen;
    color: white;
}

.contenedor-form-generico .boton button:nth-child(2){
    background-color: darkred;
    color: white;
}
