*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    display: grid;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: 100dvh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(211, 211, 156);
    /* background: linear-gradient(to bottom, rgb(158, 153, 129),rgb(58, 58, 126),
        rgb(125, 57, 57)); */
    /* background: linear-gradient(to bottom, #0b046a, #e03535, rgb(140, 72, 4)); */
    font-size: 1.3em;
    grid-template-rows: auto 125px;
}

.imagenn img{
    width: auto;
    height: 250px;
    transform: rotate(-30deg);
    transition: transform 0.2s ease-in;
    position: absolute;
    top: -120px;
    left: -110px;
    z-index: 100;
    /* width: 100vw; */
}

/* .imagenn img:hover{
    transform: rotate(-40deg);
} */

main{
    display: flex;
    justify-content: center;
}

.contenedor{
    display: flex;
    justify-content: center;
    /* outline: 2px solid; */
    /* position: relative; */
}

.contenedor section{
    display: flex;
    position: relative;
    flex-flow: column;
    align-items: center;
    outline: 3.5px solid;
    background-color: rgb(150, 150, 0);
    /* background: linear-gradient(to bottom, rgb(78, 125, 255),rgb(80, 24, 24)); */
    backdrop-filter: blur(10px);
    border-radius: 8px;
    padding: 30px 30px;
    animation: all 0.3s ease-in-out;
    box-shadow: 10px 10px black;
    transition: all 0.1s ease-out;
    /* display: none; */

    >.imagenn img{
        transform: rotate(-40deg);
    }
}

.contenedor section:hover{
    box-shadow: 15px 15px black;
    backdrop-filter: blur(10px);
    transform: scale(0.99);

}

.contenedor section:hover .imagenn img{
    transform: rotate(-30deg);
}

section form .contenedor_login{
    display: flex;
    flex-flow: column;
    /* z-index: 1; */
    background-color: transparent;
    margin: 0 0 0 15px;
}

h3{
    color: white;
    text-shadow: 4px 4.5px black;
    text-align: center;
    padding: 0 0 30px;
    font-size: 2.5em;
}

.contenedor_login .registrarse{
    display: flex;
    flex-flow: row;
}

.contenedor_login div{
    margin: 10px 0;
}

.contenedor_login div p,
.contenedor_login div label{
    color: white;
    text-shadow: 3.5px 1px black;
    font-weight: bolder;
}

.contenedor_login div a{
    text-decoration: none;
    margin-left: 7.5px;
    font-weight: bolder;
    color: rgb(255, 0, 60);
    text-shadow: 2px 1.5px black;
    transition: color 0.2s ease;

}

.contenedor_login div a:hover{
    color: red;
}

.contenedor_login .part input{
    padding: 7.5px 10px;
    border-radius: 10px;
    margin-left: 5px;
    font-size: 0.8em;
    border-style: none;
    transition: all 0.1s ease-in-out;
}

.contenedor_login .part input::placeholder{
    color: black;
}

.contenedor_login .part input:focus{
    border-style: none;
    outline: 3px solid black;
    box-shadow: 6px 6px black;
}

.boton{
    display: flex;
    /* flex-flow: row; */
    /* align-items: center; */
    justify-content: center;
}

.boton button{
    padding: 10px 60px;
    border-radius: 10px;
    box-shadow: 6.5px 6px black;
    font-size: 0.8em;
    text-transform: uppercase;
    background: linear-gradient(to top,rgb(249, 59, 59),rgb(85, 85, 253));
    font-weight: bolder;
    cursor: pointer;
    /* transform: ; */
    text-shadow: 3.5px 1.5px black;
    color: white;
    border: 2px solid black;
    /* transition: all 0.3s ease-out; */
    transition: all 0.1s ease-in;
}

.boton button:hover{
    background: linear-gradient(to bottom,rgb(249, 59, 59),rgb(85, 85, 253));
}

.boton button:active{
    /* background: linear-gradient(to bottom,rgb(249, 59, 59),rgb(85, 85, 253)); */
    box-shadow: 2px 2px black;
}

footer{
    display: flex;
    flex-flow: column;
    border: 2px solid;
    padding: 0 20px 20px;
    width: 100vw;
    /* background: linear-gradient(to top, rgb(78, 125, 255),rgb(80, 24, 24)); */
    background-color: rgb(150, 150, 0);
    outline: 3px solid black;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

footer:hover{
    >div>img{
        transform: rotate(-9deg);
        transition: transform 0.1s ease-in;

    }
}

footer div{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 3.5px 1.5px black;
    font-weight: bolder;

}

.logo img{
    width: 75px;
    height: auto;
    filter: drop-shadow(3px 3px 0 black);
    /* transition: transform 0.1s ease-in-out; */
}

/*? TEST para móviles */
@media (max-width: 768px) {
    .imagenn{
        /* position: absolute; */
        top: -70px;
        left: 90px;
        /* border: 5px solid; */
        /* z-index: 100; */
    }

    .imagenn img{
        /* width: 195px; */
        /* height: auto; */
        /* transform: rotate(-30deg); */
        /* transition: transform 0.2s ease-in; */
    }
}
