*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body .tabla-contenedor .buscar-accion{
    grid-column: span 5/span 5;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}

.tabla-contenedor .buscar-accion input{
    padding: 7.5px;
    font-size: 0.75em;
    border-style: none;
    transition: all 0.1s ease-in-out;
    border-radius: 10px;
}

.tabla-contenedor .buscar-accion input::placeholder{
    color: gray;
}

.tabla-contenedor .buscar-accion input:focus{
    border-style: none;
    outline: 3px solid black;
    box-shadow: 6px 6px black;
}

/*  */
.tabla-contenedor .buscar-accion button{
    background-color: transparent;
    border-style: none;
    margin-left: 20px;
}

.tabla-contenedor .buscar-accion{
    /* testttt */
    margin-right: 5px;

}

.tabla-contenedor .buscar-accion img{
    width: 37px;
    height: 37px;
    cursor: pointer;
    filter: drop-shadow(3px 5px black);
    transition: filter 0.1s ease-in-out;
}

.tabla-contenedor .buscar-accion img:hover{
    filter: drop-shadow(5px 7.5px black);
}

.tabla-contenedor .buscar-accion img:active{
    filter: drop-shadow(3px 5px black);
}

.tabla-contenedor .nextOrBack{
    display: flex;
    align-items: center;
    justify-content: center;
    /* outline: 1px solid; */
    grid-column: span 5/span 5;
    grid-row-start: 5;
}

.tabla-contenedor .nextOrBack .page{
    font-size: 1.2rem;
    margin: 0 6px;
    outline: 0.5px dashed black;
    padding: 0 6px;
    text-align: center;
}

.tabla-contenedor .nextOrBack .btnBack,
.tabla-contenedor .nextOrBack .btnNext{
    background-color: transparent;
    border-style: none;
    cursor: pointer;
}

.tabla-contenedor .nextOrBack .btnBack span img{
    transform: rotate(180deg);
}

.tabla-contenedor .nextOrBack .btnBack span img,
.tabla-contenedor .nextOrBack .btnNext span img{
    width: 30px;
    height: auto;
    filter: drop-shadow(3.5px 5px black);
    transition: box-shadow 0.1s ease-in-out;
}

.tabla-contenedor .nextOrBack .btnBack span img:hover,
.tabla-contenedor .nextOrBack .btnNext span img:hover{
    filter: drop-shadow(5px 7px black);
}

.tabla-contenedor .nextOrBack .btnBack span img:active,
.tabla-contenedor .nextOrBack .btnNext span img:active{
    filter: drop-shadow(3.5px 5px black);
}

.contenedor-tabla thead tr th:nth-child(1),
.contenedor-tabla thead tr th:nth-child(5){
    min-width: 60px;
}

.contenedor-tabla tbody tr td:nth-child(1),
.contenedor-tabla tbody tr td:nth-child(5){
    font-size: 0.5em;

}

.contenedor-tabla tbody tr td:nth-child(5){
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 90px;
}

.contenedor-tabla thead tr th:nth-child(4){
    width: 160px;
}

.tabla .contenedor-tabla thead tr th:nth-child(2),
.tabla .contenedor-tabla thead tr th:nth-child(3){
    width: 128px;
}

.contenedor-tabla .btnDelete:active{
    span>img{
        filter: drop-shadow(0.5px 0.5px darkred);
    }
}
