*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedorHeader .hero-logo h2{
    font-size: 2.5em;
}

.contenedorHeader .hero-logo span{
    top: -27px;
    left: 10px;
}

.contenedorDashboard{
    outline: 2px solid;
    grid-column: span 4/span 4;
    grid-row: span 3/span 3;
    grid-column-start: 2;
    grid-row-start: 2;
    padding: 15px;
    margin: 5px 5px 10px;
    box-shadow: 10px 10px black;
    background-color: rgb(150, 150, 0);
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,1fr)25px;
    gap: 16px;
}

body .wrapper-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-form .wrapper{
    height: auto;
}

.wrapper-form .wrapper h3{
    margin: 10px 0;
    font-size: 2em;
}

body .wrapper-form .wrapper{
    outline: 2px solid black;
    background-color: rgb(211, 211, 156);
    box-shadow: 5px 8.5px black;
    /* padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 10px;
    padding-right: 10px; */
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.wrapper-form .wrapper form{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.wrapper form .contenedor-form-generico{
    display: flex;
    flex-flow: column;
}

form .contenedor-form-generico div label{
    font-size: 0.8em;
    font-weight: bolder;
    margin: 3.5px 10px 3.5px 0;
}

/* form .contenedor-form-generico div:nth-child(1) label{
    font-size: 0.8em;
} */

form .contenedor-form-generico div input{
    padding: 7.5px;
    font-size: 0.75em;
    border-style: none;
    transition: all 0.1s ease-in-out;
    border-radius: 10px;
}

form .contenedor-form-generico div:nth-child(1) input{
    padding: 5px 50px 5px 7.5px;
}

form .contenedor-form-generico div select{
    padding: 7.5px;
    font-style: italic;
    border-radius: 10px;
    border-style: none;
    transition: outline,box-shadow 0.1s ease-in-out;
    /* outline: 2px solid black; */
    text-align: center;
}

form .contenedor-form-generico div select:focus{
    outline: 2px solid black;
    box-shadow: 6px 6px black;
}


form .contenedor-form-generico div{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    margin: 5px 7.5px;
}

/* .contenedor-form-generico .part input{
    padding: 7.5px 10px;
    border-radius: 10px;

} */

.contenedor-form-generico .part input::placeholder{
    color: gray;
}

.contenedor-form-generico .part input:focus{
    border-style: none;
    outline: 3px solid black;
    box-shadow: 6px 6px black;
}

.color .ejemploColor{
    border: 2px dashed;
    padding: 13.5px;
    border-radius: 15px;
    margin-left: 15px;
}

.boton{
    display: flex;
    /* flex-flow: row; */
    /* align-items: center; */
    justify-content: center;
}

.boton button{
    padding: 5px;
    border-radius: 10px;
    box-shadow: 4px 4.5px black;
    font-size: 0.65em;
    font-weight: bolder;
    cursor: pointer;
    margin: 7.5px;

    /* transform: ; */
    /* background-color: rgb(150, 150, 0); */
    color: black;
    border: 2px solid black;
    /* transition: all 0.3s ease-out; */
    transition: all 0.1s ease-in;
}

.boton button:hover{
    box-shadow: 5px 6.5px black;
}

.boton button:active{
    /* background: linear-gradient(to bottom,rgb(249, 59, 59),rgb(85, 85, 253)); */
    box-shadow: 2px 2px black;
}

.boton button:nth-child(1){
    background-color: darkgreen;
    color: white;
}

.boton button:nth-child(2){
    background-color: darkred;
    color: white;
}

/*? consulta */
.contenedor-form-generico .consultaDescripcion textarea{
    padding: 5px 40px 60px 5px;
    font-size: 0.75em;
    border-style: none;
    transition: all 0.1s ease-in-out;
    border-radius: 10px;
    margin-right: 5px;
}

.contenedor-form-generico .consultaDescripcion textarea::placeholder{
    color: gray;
}

.contenedor-form-generico .consultaDescripcion textarea:focus{
    border-style: none;
    outline: 3px solid black;
    box-shadow: 6px 6px black;
}

.contenedor-form-generico .categoria button{
    margin: 10px;
    padding: 7.5px;
    border-radius: 20px;
    border-style: none;
    background-color: darkgreen;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 2.5px 3px black;
}

.contenedor-form-generico .categoria button:hover{
    box-shadow: 3px 4.5px black;
}

.contenedor-form-generico .categoria button:active{
    box-shadow: 2.5px 3px black;
}


/*? cuando modificas un producto */
.contenedor-form-generico .boton .btnDinamicoEdit{
    background-color: darkblue;
}

/*?  NO ENCONTRADO */
.notFound h2,p{
    margin: 10px;
}


/*? popup nueva categoría */
body .popup-nueva-consulta{
    display: none;
    /* display: flex; */
    z-index: 1000;
    outline: 2px solid black;
    padding: 50px;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.popup-nueva-consulta .contenedor-popup{
    background-color: rgb(150, 150, 0);
    padding: 15px 30px;
    box-shadow: 10px 10px black;
    display: flex;
    flex-flow: column;
    /* align-items: center; */
    justify-content: center;
}

.popup-nueva-consulta .contenedor-popup>div{
    margin: 10px 0;
    display: flex;
    flex-flow: row;
    gap: 7.5px;
    justify-content: center;
    align-items: center;
}

.popup-nueva-consulta .contenedor-popup>div label{
    font-weight: bolder;
    color: black;
    font-size: 1.25em;
}

.contenedor-popup h2{
    font-size: 1.4em;
    text-transform: uppercase;
    text-shadow: 3.5px 3.5px black;
    /* margin-left: 35px; */
    font-weight: bolder;
}

.contenedor-popup .categoria input{
    padding: 6.5px 25px 6.5px 5px;
    font-size: 0.75em;
    border-style: none;
    transition: all 0.1s ease-in-out;
    border-radius: 10px;
    margin: 7.5px 0;
}

.contenedor-popup .categoria input::placeholder{
    color: gray;
}

.contenedor-popup .categoria input:focus{
    border-style: none;
    outline: 3px solid black;
    box-shadow: 6px 6px black;
}

.popup-nueva-consulta .contenedor-popu:hover{
    box-shadow: 13px 13px black;
}





/* ???????? */
/*? popup visualizador detalle*/
body .popup-detalle-consulta{
    display: none;
    /* display: flex; */
    z-index: 1000;
    outline: 2px solid black;
    padding: 50px;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.popup-detalle-consulta .contenedor-popup{
    background-color: rgb(150, 150, 0);
    padding: 15px 30px 50px;
    box-shadow: 10px 10px black;
    display: flex;
    flex-flow: column;
    /* align-items: center; */
    justify-content: center;
}

.popup-detalle-consulta .contenedor-popup>div{
    margin: 10px 0;
    display: flex;
    flex-flow: row;
    gap: 7.5px;
    justify-content: center;
    align-items: center;
}

.popup-detalle-consulta .contenedor-popup .fechaConsulta{
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.popup-detalle-consulta .contenedor-popup .fechaConsulta span{
    font-style: italic;
    font-size: 1em;
    outline: 0.5px dashed white;
    padding: 2.5px;
    color: black;
    font-weight: bolder;
}

.popup-detalle-consulta .contenedor-popup>div label{
    font-weight: bolder;
    color: black;
    font-size: 1.25em;
}

.contenedor-popup h2{
    font-size: 2em;
    text-transform: uppercase;
    text-shadow: 3.5px 3.5px black;
    /* margin-left: 35px; */
    font-weight: bolder;
}

.contenedor-popup .consultaDescripcion textarea{
    padding: 7.5px 160px 80px 7.5px;
    font-size: 0.75em;
    border-style: none;
    transition: all 0.1s ease-in-out;
    border-radius: 10px;
}

.contenedor-popup .consultaDescripcion textarea::placeholder{
    color: gray;
}

.contenedor-popup .consultaDescripcion textarea:focus{
    border-style: none;
    outline: 3px solid black;
    box-shadow: 6px 6px black;
}

.popup-detalle-consulta .contenedor-popu:hover{
    box-shadow: 13px 13px black;
}

.popup-nueva-consulta .contenedor-popup .newCategory{
    margin: 3px;
}
