*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contenedorDashboard{
    outline: 2px solid;
    grid-column: span 4/span 4;
    grid-row: span 3/span 3;
    grid-column-start: 2;
    grid-row-start: 2;
    padding: 15px;
    margin: 5px 5px 10px;
    box-shadow: 10px 10px black;
    background-color: rgb(150, 150, 0);
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 16px;
}

.contenedorDashboard div{
    /* box-shadow: 10px 10px black; */
    position: relative;
}

.contenedorDashboard div:hover{
    span{
        animation: jumpIcon 0.3s ease-in-out;
    }
}

@keyframes jumpIcon {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);

    }
    100%{
        transform: translateY(0);

    }

}

.contenedorDashboard div span img{
    width: 37.8px;
    height: auto;
}

.contenedorDashboard div span{
    position: absolute;
    top: -10px;
    left: 0;
}

.contenedorDashboard div .line{
    width: 100%;
    outline: 1px solid black;
}

.contenedorDashboard div h4{
    text-transform: uppercase;
    font-size: 0.65em;
    font-weight: bolder;
    /* margin: 5px 0 3.5px 15px; */
    margin: 5px 0 3.5px 0;
    text-align: center;
}

.contenedorDashboard .board-histExporta{
    grid-column: span 2/span 2;
    grid-row: span 3/span 3;
    outline: 2px solid black;
    background-color: rgb(211, 211, 156);
    box-shadow: 10px 10px black;

}

.board-histExporta .tabla-expo{
    font-size: 0.7em;
    
}

.board-histExporta .tabla-expo table{
    margin-top: 3.5px;
    border-collapse: collapse;
    width: 100%;
}

.tabla-expo table thead tr th{
    background-color: rgb(150, 150, 0);
    padding: 6px 24px;
}

.tabla-expo table thead tr th,
.tabla-expo table tbody tr td{
    text-align: center;
    padding: 4.1px 24px;
    outline: 0.2px solid black;
}

.tabla-expo table tbody tr td{
    font-size: 0.7em;
}

.tabla-expo table tbody tr:nth-child(even){
    background-color: rgb(165, 165, 121);
    font-weight: bolder;
}

.contenedorDashboard .board-products-masVendidos{
    grid-column: span 2 /span 2;
    grid-row: span 3 /span 3;
    grid-column-start: 3;
    outline: 2px solid black;
    background-color: rgb(211, 211, 156);
    box-shadow: 10px 10px black;
}

.board-products-masVendidos .grafico-board{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 330px;
    margin: 10px auto 0;
    box-shadow: 7px 10px black;
}

.grafico-board #grafico-bar-vendidos{
    /* height: auto; */
    background-color: rgb(150, 150, 0);

}

.contenedorDashboard .board-clientes{
    grid-row: span 5 /span 5;
    grid-column-start: 5;
    outline: 2px solid black;
    background-color: rgb(211, 211, 156);
    box-shadow: 10px 10px black;

}

.board-clientes .tabla-clientes{
    font-size: 0.7em;
    
}

.board-clientes .tabla-clientes table{
    margin-top: 3.5px;
    border-collapse: collapse;
    width: 100%;
}

.tabla-clientes table thead tr th,
.tabla-clientes table tbody tr td{
    padding: 6px 25px;
    outline: 0.2px solid black;
    width: 100%;
    text-align: center;
}

.tabla-clientes table thead tr th{
    background-color: rgb(150, 150, 0);


}

.tabla-clientes table tbody tr td{
    font-size: 0.7em;
    
}

.tabla-clientes table tbody tr:nth-child(even){
    background-color: rgb(165, 165, 121);
    font-weight: bolder;
}

.contenedorDashboard .board-tipoSombrero{
    grid-column: span 2/span 2;
    grid-row: span 2/span 2;
    grid-row-start: 4;
    outline: 2px solid black;
    background-color: rgb(211, 211, 156);
    box-shadow: 10px 10px black;

}

.contenedorDashboard .board-contenedores{
    grid-column: span 2/span 2;
    grid-row: span 2/span 2;
    grid-column-start: 3;
    grid-row-start: 4;
    outline: 2px solid black;
    background-color: rgb(211, 211, 156);
    box-shadow: 10px 10px black;

}
