*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 7px;

    width: 100vw;
    height: 100dvh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(211, 211, 156);
    /* background: linear-gradient(to bottom, rgb(158, 153, 129),rgb(58, 58, 126),
        rgb(125, 57, 57)); */
    /* background: linear-gradient(to bottom, #0b046a, #e03535, rgb(140, 72, 4)); */
    font-size: 1.3em;
}

.contenedorHeader{
    outline: 2px solid;
    grid-column: span 4/span 4;
    grid-column-start: 2;
    grid-row-start: 1;
    padding: 50px;
    margin: 5px;
    box-shadow: 10px 10px black;

}

aside{
    outline: 2px solid;
    grid-row: span 5/span 5;
    grid-column-start: 1;
    grid-row-start: 1;
    padding: 50px;
    background-color: rgb(150, 150, 0);
    margin: 5px;
    box-shadow: 10px 10px black;

}

.contenedorDashboard{
    outline: 2px solid;
    grid-column: span 4/span 4;
    grid-row: span 3/span 3;
    grid-column-start: 2;
    grid-row-start: 2;
    padding: 50px;
    margin: 5px;
    box-shadow: 10px 10px black;

}

footer{
    grid-column: span 4 / span 4;
    grid-column-start: 2;
    grid-row-start: 5;
    display: flex;
    flex-flow: column;
    outline: 2px solid;
    padding: 0 20px 20px;
    width: 100%;
    /* background: linear-gradient(to top, rgb(78, 125, 255),rgb(80, 24, 24)); */
    background-color: rgb(150, 150, 0);
    outline: 3px solid black;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    text-align: center;
}

footer .content_footer{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

footer .content_footer p>span{
    font-style: italic;
    color: red;
    box-shadow: cyan;
}

footer:hover{
    >div>img{
        transform: rotate(-9deg);
        transition: transform 0.1s ease-in;

    }
}

footer div{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bolder;
}

.logo, .top-content{
    text-shadow: 3.5px 1.5px black;
}

.bottom-content{
    margin: 15px 0 0;
    /* text-shadow: 3.5px 1.5px black; */
}

.bottom-content p{
    text-shadow: 3.5px 1.5px black;
}

.bottom-content p~span{
    font-style: italic;
    color: rgb(183, 0, 107);
    cursor: pointer;
}

.bottom-content p~span:hover{
    text-decoration: underline;
}

.logo img{
    width: 75px;
    height: auto;
    filter: drop-shadow(3px 3px 0 black);
    /* transition: transform 0.1s ease-in-out; */
}