<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="EyelessCode">
        <meta name="description"
            content="Dashboard, donde el Admin puede monitorear herramientas">
        <meta name="keywords" content="HTML, CSS, JS, POSTGRESQL">
        <link rel="shortcut icon" href="../../static/img/icon/consulta-icon.ico" type="image/x-icon"> <!--? Ruta Test -->
        <link rel="stylesheet" href="../../static/css/admin/style.css"> <!--? Ruta Test -->
        <link rel="stylesheet" href="../../static/css/admin/consulta.css"> <!--? Ruta Test -->
        <script defer src="../../static/js/admin/consulta/util.js"></script>
        <title>Consultas Administrador | Administración</title>
    </head>
    <body>
        <header class="contenedorHeader">
            <div class="hero-logo">
                <span class="imagenn">
                    <img src="../../static/img/logo-sombrero.webp"
                            alt="sombrerito"> <!--? Ruta Test -->
                </span>
                <h2 id="h2Titulo">Consultas Administrador</h2>
            </div>

            <div class="content-user">
                <div class="barra-user">
                    <img src="../../static/img/perfil-logo.webp" alt="perfil">
                    <!-- <p>FernándezFernándezFernández 15</p> -->
                    <!--* lo de arriba es dinámico -->
                    <!--* Dinámico -->
                </div>
    
                <div class="log-out">
                    <!--? Ruta Test -->
                    <button onclick="window.location.replace('../client/login.html')">
                        <img src="../../static/img/log-out-icon.webp" alt="cerrar sesión">
                    </button>
                </div>
            </div>
        </header>

        <aside>
            <div class="hero-menu">
                <h3>Panamá</h3><h3>Sombreros</h3>
            </div>

            <div class="menu-opciones">
                <ul class="contenedor-list">
                    <li><a href="./home.html">Inicio</a></li> <!--? ruta testt-->
                    <li><a href="./productos.html">Gestión Productos</a></li>
                    <li><a href="./clientes.html">Gestión Clientes</a></li>
                    <li><a href="./contenedores.html">Contenedores</a></li>
                    <li><a href="#">Consultas Admin</a></li>
                    <li><a href="./detalleExportaciones.html">Detalles Exportación</a></li>
                </ul>
            </div>
        </aside>

        <main class="contenedorDashboard tabla-consulta">
            <div class="boton-add-accion">
                <!--? ruta testt-->
                <button type="button" onclick="window.location.href='./form/formulario.html?type=addConsulta'">Nueva consulta +</button>
            </div>
            <div class="tabla">
                <table class="contenedor-tabla">
                    <thead>
                        <tr>
                            <th>Rol</th>
                            <th>Nombre</th>
                            <th>Fecha consulta</th>
                            <th>Categoría</th>
                            <th>Resultado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--* esto también es dinámicoo -->
                        <tr>
                            <td>Rol</td>
                            <td>Nombre</td>
                            <td>Fecha consulta</td>
                            <td>Categoría</td>
                            <td>
                                <button type="button" class="btnAccion btnShow">
                                    <span>
                                        <img src="../../static/img/icon/show-icon.webp" alt="mostrar">
                                    </span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                        <!--! lo que se debe poner -->
                        <!-- <button type="button" class="btnAccion btnShow">
                            <span>
                                <img src="../../static/img/icon/show-icon.webp" alt="mostrar">
                            </span>
                        </button> -->
                    <!--? 7 filas con header -->
                </table>
            </div>

            <div class="nextOrBack">
                <button type="button" class="btnBack"><span>
                    <img src="../../static/img/next-or-back.webp" alt="back">
                </span></button>
                <span class="page">1</span> <!--? Dinaamico-->
                <button type="button" class="btnNext"><span>
                    <img src="../../static/img/next-or-back.webp" alt="next">
                </span></button>
            </div>
        </main>

        <div id="popup" class="popup-detalle-consulta" display="none">
            <!--*  popoupdinámico -->
            <div class="contenedor-popup">
                <h2>Visualizador a detalle</h2>
                <div class="part fechaConsulta">
                    <!--*  diámico -->
                    <span id="fecha_consulta">---</span>
                </div>

                <div class="part info">
                    <label for="lbCedula">Cédula: </label>
                    <!--*  diámico -->
                    <span id="cedula_usuario">---</span>
                </div>

                <div class="part nombre">
                    <label for="lbNombre">Nombre: </label>
                    <!--*  diámico -->
                    <span id="nombre_usuario">---</span>
                </div>

                <div class="part correo">
                    <label for="lbCorreo">Correo: </label>
                    <!--*  diámico -->
                    <span id="correo_usuario">---</span>
                </div>

                <div class="part categoria">
                    <label for="lbCategoria">Categoria: </label>
                    <!--*  diámico -->
                    <span id="categoria_usuario">---</span>
                </div>

                <div class="part consultaDescripcion">
                    <label for="txaDescripcion">Consulta: </label>
                    <textarea name="consultaDescripcion" id="txaDescripcion" readonly></textarea>
                </div>
            </div>
        </div>

        <footer>
            <div class="logo">
                <img src="../../static/img/logo-sombrero.webp" alt="logo">
                <p>&copy; <span>Panamá Sombreros</span></p>
            </div>

            <div class="content_footer top-content">
                <p>Distribuímos la mejor gestión para los productos. Nosotros no fallamos.</p>
            </div>

            <div class="content_footer bottom-content">
                <p>Si hay algún problema técnico, contacte con <span>cristelMolineros@gmail.com</span>.</p>
            </div>
        </footer>
    </body>
</html>
