<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="EyelessCode">
        <meta name="description"
            content="Dashboard, donde el Admin puede monitorear herramientas">
        <meta name="keywords" content="HTML, CSS, JS, POSTGRESQL">
        <link rel="shortcut icon" href="../../static/img/icon/contenedor-icon.ico" type="image/x-icon"> <!--? Ruta Test -->
        <link rel="stylesheet" href="../../static/css/admin/style.css"> <!--? Ruta Test -->
        <link rel="stylesheet" href="../../static/css/admin/contenedor.css"> <!--? Ruta Test -->
        <title>Gestión Contenedores | Administración</title>
    </head>
    <body>
        <header class="contenedorHeader">
            <div class="hero-logo">
                <span class="imagenn">
                    <img src="../../static/img/logo-sombrero.webp"
                            alt="sombrerito"> <!--? Ruta Test -->
                </span>
                <h2 id="h2Titulo">Gestión Contenedores</h2>
            </div>

            <div class="content-user">
                <div class="barra-user">
                    <img src="../../static/img/perfil-logo.webp" alt="perfil">
                    <!-- <p>FernándezFernándezFernández 15</p> -->
                    <!--* lo de arriba es dinámico -->
                    <!--* Dinámico -->
                </div>
    
                <div class="log-out">
                    <!--? Ruta Test -->
                    <button onclick="window.location.replace('./login.html')">
                        <img src="../../static/img/log-out-icon.webp" alt="cerrar sesión">
                    </button>
                </div>
            </div>
        </header>

        <aside>
            <div class="hero-menu">
                <h3>Panamá</h3><h3>Sombreros</h3>
            </div>

            <div class="menu-opciones">
                <ul class="contenedor-list">
                    <li><a href="./home.html">Inicio</a></li> <!--? ruta testt-->
                    <li><a href="./productos.html">Gestión Productos</a></li>
                    <li><a href="./clientes.html">Gestión Clientes</a></li>
                    <li><a href="#">Contenedores</a></li>
                    <li><a href="./consultas.html">Consultas Admin</a></li>
                    <li><a href="./detalleExportaciones.html">Detalles Exportación</a></li>
                </ul>
            </div>
        </aside>

        <main class="contenedorDashboard tabla-contenedor">
            <div class="buscar-accion">
                <input placeholder="ID..." type="search" name="search" id="txtBuscarId">
                <button type="button" id="txtBuscar">
                    <img src="../../static/img/icon/search-icon.webp" alt="buscar"> <!--? Ruta Test -->
                </button>
            </div>
            <div class="tabla">
                <table class="contenedor-tabla">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Peso máx</th>
                            <th>Peso min</th>
                            <th>Estado</th>
                            <th>Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--* esto también es dinámicoo -->
                    </tbody>
                    <!--? 7 filas con header -->
                </table>
            </div>
            <div class="nextOrBack">
                <button type="button" class="btnBack"><span>
                    <img src="../../static/img/next-or-back.webp" alt="back">
                </span></button>
                <span class="page">1</span> <!--? Dinaamico-->
                <button type="button" class="btnNext"><span>
                    <img src="../../static/img/next-or-back.webp" alt="next">
                </span></button>
            </div>
        </main>

        <footer>
            <div class="logo">
                <img src="../../static/img/logo-sombrero.webp" alt="logo">
                <p>&copy; <span>Panamá Sombreros</span></p>
            </div>

            <div class="content_footer top-content">
                <p>Distribuímos la mejor gestión para los productos. Nosotros no fallamos.</p>
            </div>

            <div class="content_footer bottom-content">
                <p>Si hay algún problema técnico, contacte con <span>cristelMolineros@gmail.com</span>.</p>
            </div>
        </footer>
    </body>
</html>
