<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="EyelessCode">
        <meta name="description"
            content="Dashboard, donde el Admin puede monitorear herramientas">
        <meta name="keywords" content="HTML, CSS, JS, POSTGRESQL">
        <link rel="shortcut icon" href="../../static/img/icon/icon-dashboard.ico" type="image/x-icon"> <!--? Ruta Test -->
        <link rel="stylesheet" href="../../static/css/admin/home.css"> <!--? Ruta Test -->
        <title>Dashboard | Administración</title>
    </head>
    <body>
        <header class="contenedorHeader">
            <div class="hero-logo">
                <span class="imagenn">
                    <img src="../../static/img/logo-sombrero.webp"
                            alt="sombrerito"> <!--? Ruta Test -->
                </span>
            </div>

            <div class="content-user">
                <div class="barra-user">
                    <img src="../../static/img/perfil-logo.webp" alt="perfil">
                    <p>Fernández</p>
                    <!--* Dinámico -->
                </div>
    
                <div class="log-out">
                    <img src="../../static/img/log-out-icon.webp" alt="">
                </div>
            </div>
        </header>
        <aside>
            <div class="hero-menu">
                <p>Panamá</p><br><p>Sombreros</p>
            </div>

            <div class="menu-opciones">
                <ul class="contenedor-list">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Gestión productos</a></li>
                    <li><a href="#">Gestión clientes</a></li>
                    <li><a href="#">Contenedores</a></li>
                    <li><a href="#">Consultas Admin</a></li>
                    <li><a href="#">Detalles Exportación</a></li>
                </ul>
            </div>
        </aside>
        <main class="contenedorDashboard">

        </main>
        <footer>
            <div class="logo">
                <img src="../../static/img/logo-sombrero.webp" alt="logo">
                <p>&copy; Panamá Sombreros</p>
            </div>

            <div class="content_footer top-content">
                <p>Distribuímos la mejor gestión para los productos. Nosotros no fallamos.</p>
            </div>

            <div class="content_footer bottom-content">
                <p>Si hay algún problema técnico, contacte con <span>cristelMolineros@gmail.com</span>.</p>
            </div>
        </footer>
    </body>
</html>
