<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="EyelessCode">
        <meta name="description"
            content="Dashboard, donde el Admin puede monitorear herramientas">
        <meta name="keywords" content="HTML, CSS, JS, POSTGRESQL">
        <link rel="shortcut icon" href="../../static/img/icon/icon-dashboard.ico" type="image/x-icon"> <!--? Ruta Test -->
        <link rel="stylesheet" href="../../static/css/admin/home.css"> <!--? Ruta Test -->
        <title>Dashboard | Administración</title>
    </head>
    <body>
        <header class="contenedorHeader">
            <div class="hero-logo">
                <span class="imagenn">
                    <img src="../../static/img/logo-sombrero.webp"
                            alt="sombrerito"> <!--? Ruta Test -->
                </span>
                <h2>Dashboard</h2>
            </div>

            <div class="content-user">
                <div class="barra-user">
                    <img src="../../static/img/perfil-logo.webp" alt="perfil">
                    <!-- <p>FernándezFernándezFernández 15</p> -->
                    <!--* lo de arriba es dinámico -->
                    <!--* Dinámico -->
                </div>
    
                <div class="log-out">
                    <img src="../../static/img/log-out-icon.webp" alt="">
                </div>
            </div>
        </header>

        <aside>
            <div class="hero-menu">
                <h3>Panamá</h3><h3>Sombreros</h3>
            </div>

            <div class="menu-opciones">
                <ul class="contenedor-list">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Gestión productos</a></li>
                    <li><a href="#">Gestión clientes</a></li>
                    <li><a href="#">Contenedores</a></li>
                    <li><a href="#">Consultas Admin</a></li>
                    <li><a href="#">Detalles Exportación</a></li>
                </ul>
            </div>
        </aside>

        <main class="contenedorDashboard">
            <div class="board-histExporta"></div>
            <div class="board-products-masVendidos"></div>
            <div class="board-clientes"></div>
            <div class="board-tipoSombrero"></div>
            <div class="board-contenedores"></div>
        </main>

        <footer>
            <div class="logo">
                <img src="../../static/img/logo-sombrero.webp" alt="logo">
                <p>&copy; <span>Panamá Sombreros</span></p>
            </div>

            <div class="content_footer top-content">
                <p>Distribuímos la mejor gestión para los productos. Nosotros no fallamos.</p>
            </div>

            <div class="content_footer bottom-content">
                <p>Si hay algún problema técnico, contacte con <span>cristelMolineros@gmail.com</span>.</p>
            </div>
        </footer>
    </body>
</html>
