<!DOCTYPE html>
<html lang="es">
    <head>
        <base href="/sombreroPanama/admin/">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="EyelessCode">
        <meta name="keywords" content="HTML, CSS, JS, POSTGRESQL">
        <meta name="decription"
            content="Página de acceso de credenciales">
        <link rel="shortcut icon" href="/img/icon/admin-ico.ico"
            type="image/x-icon">
        <link rel="stylesheet" href="/css/credentials.css"> <!--? Ruta Test -->
        <script defer src="/js/admin/login/script.js"></script>
        <title>Login | Administración</title>
    </head>
    <body>
        <main>
            <div class="contenedor">
                <section>
                    <span class="imagenn admin-logo">
                        <img src="/img/admin-logo.webp"
                            alt="sombrerito"> <!--? Ruta Test -->
                    </span>
                    <h3>Administración</h3>
                    <form action="/sombreroPanama/admin/dashboard" method="post">
                        <div class="contenedor_login">
                            <div class="part cedula">
                                <label for="txtCedula">Cédula: </label>
                                <input type="text" name="cedula" id="txtCedula"
                                    placeholder="Cédula..." maxlength="10"
                                    required>
                            </div>

                            <div class="part password">
                                <label for="txtPassword">Contraseña: </label>
                                <input type="password" name="password"
                                    id="txtPassword" placeholder="Contraseña..."
                                    required>
                            </div>

                            <div class="part registrarse content-admin-contact">
                                <p>Olvidaste tu contraseña? <br>contacte <br>
                                <a href="#">cristelMolineros@gmail.com</a></p>
                            </div>

                            <div class="part boton">
                                <button type="submit">Acceder</button>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </main>
        <footer class="footer-contenedor">
            <div class="logo">
                <img src="/img/logo-sombrero.webp" alt="logo">
                <p>&copy; <span>Panamá Sombreros</span></p>
            </div>

            <div class="content_footer top-content">
                <p>Distribuímos la mejor gestión para los productos. Nosotros no fallamos.</p>
            </div>

            <div class="content_footer bottom-content">
                <p>Si hay algún problema técnico, contacte con <span>cristelMolineros@gmail.com</span>.</p>
            </div>
        </footer>
    </body>
</html>
