<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="EyelessCode">
        <meta name="description"
            content="Dashboard, donde el Admin puede monitorear herramientas">
        <meta name="keywords" content="HTML, CSS, JS, POSTGRESQL">
        <link rel="shortcut icon" href="/img/icon/producto-icon.ico" type="image/x-icon"> <!--? Ruta Test -->
        <link rel="stylesheet" href="/css/admin/style.css"> <!--? Ruta Test -->
        <link rel="stylesheet" href="/css/admin/producto.css"> <!--? Ruta Test -->
        <script defer src="/js/admin/producto/script.js"></script>
        <title>Gestión Productos | Administración</title>
    </head>
    <body>
        <header class="contenedorHeader">
            <div class="hero-logo">
                <span class="imagenn">
                    <img src="/img/logo-sombrero.webp"
                            alt="sombrerito"> <!--? Ruta Test -->
                </span>
                <h2 id="h2Titulo">Gestión Productos</h2>
            </div>

            <div class="content-user">
                <div class="barra-user">
                    <img src="/img/perfil-logo.webp" alt="perfil">
                    <!-- <p>FernándezFernándezFernández 15</p> -->
                    <!--* lo de arriba es dinámico -->
                    <!--* Dinámico -->
                </div>
    
                <div class="log-out">
                    <!--? Ruta Test -->
                    <button onclick="window.location.replace('http://localhost:1000/sombreroPanama/admin/login')">
                        <img src="/img/log-out-icon.webp" alt="cerrar sesión">
                    </button>
                </div>
            </div>
        </header>

        <aside>
            <div class="hero-menu">
                <h3>Panamá</h3><h3>Sombreros</h3>
            </div>

            <div class="menu-opciones">
                <ul class="contenedor-list">
                    <li><a href="http://localhost:1000/sombreroPanama/admin/dashboard">Inicio</a></li> <!--? ruta testt-->
                    <li><a href="#">Gestión Productos</a></li>
                    <li><a href="http://localhost:1000/sombreroPanama/admin/clientes">Gestión Clientes</a></li>
                    <li><a href="http://localhost:1000/sombreroPanama/admin/contenedores">Contenedores</a></li>
                    <li><a href="http://localhost:1000/sombreroPanama/admin/consultas">Consultas Admin</a></li>
                    <li><a href="http://localhost:1000/sombreroPanama/admin/detalleExportaciones">Detalles Exportación</a></li>
                </ul>
            </div>
        </aside>

        <main class="contenedorDashboard tabla-producto">
            <div class="boton-add-accion">
                <!--? ruta testt-->
                <button id="btnFormProducto" type="button" onclick="window.location.href='http://localhost:1000/sombreroPanama/admin/formulario?type=addProducto'">Agregar nuevo</button>
            </div>
            <div class="tabla">
                <table class="contenedor-tabla">
                    <thead>
                        <tr>
                            <th>Tipos</th>
                            <th>Color</th>
                            <th>Precio</th>
                            <th>Descripción</th>
                            <th>Activo</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--* esto también es dinámicoo -->
                        <!-- <tr>
                            <td>Tipos</td>
                            <td>Color</td>
                            <td>Precio</td>
                            <td>Descripción</td>
                            <td>Activo</td>
                            <td>
                                <button type="button" class="btnAccion btnDelete">
                                    <span>
                                        <img src="/img/icon/delete-icon.webp" alt="borrar">
                                    </span>
                                </button>
                                <button type="button" class="btnAccion btnEdit" onclick="window.location.href='http://localhost:1000/sombreroPanama/admin/formulario?type=editProducto'">
                                    <span>
                                        <img src="/img/icon/edit-icon.webp" alt="editar">
                                    </span>
                                </button>
                            </td>
                        </tr> -->
                    </tbody>
                    <!--? 7 filas con header -->
                    <!--! esto debe ir ya sabes -->
                    <!-- <button type="button" class="btnAccion btnDelete">
                        <span>
                            <img src="/img/icon/delete-icon.webp" alt="borrar">
                        </span>
                    </button> -->
                    <!-- <button type="button" class="btnAccion btnEdit" onclick="window.location.href='http://localhost:1000/sombreroPanama/admin/formulario?type=editProducto'">
                        <span>
                            <img src="/img/icon/edit-icon.webp" alt="editar">
                        </span>
                    </button> -->
                </table>
            </div>
            <!-- <div class="nextOrBack">
                <button type="button" class="btnBack"><span>
                    <img src="/img/next-or-back.webp" alt="back">
                </span></button>
                <span class="page">1</span>
                <button type="button" class="btnNext"><span>
                    <img src="/img/next-or-back.webp" alt="next">
                </span></button>
            </div> -->
        </main>

        <footer>
            <div class="logo">
                <img src="/img/logo-sombrero.webp" alt="logo">
                <p>&copy; <span>Panamá Sombreros</span></p>
            </div>

            <div class="content_footer top-content">
                <p>Distribuímos la mejor gestión para los productos. Nosotros no fallamos.</p>
            </div>

            <div class="content_footer bottom-content">
                <p>Si hay algún problema técnico, contacte con <span>cristelMolineros@gmail.com</span>.</p>
            </div>
        </footer>
    </body>
</html>
